<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Z" content="Pagina del Bardo">
    <title>Bardo</title>
</head>
<body>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- target blank hace que enlace inicie pagina nueva. -->
    <a target="_blank" href="https://www.youtube.com/watch?v=BoFw57I4n7E">Música recomendada</a>
    <p>El bardo toca musica </p>

    <h2>Caracteristicas</h2>
    <table border=10>
    <caption>Items recomendados</caption>
    <tr>  <th><em>Item</em></th> <th><em>Nombre</em></th> <th><em>Precio</em></th>  </tr>
    <tr>  <td border=100>1</td> <td>Instrumento</td> <td>20po</td>  </tr>
    <tr>  <td>2</td> <td>Cuchilla</td> <td>30po</td>  </tr>
    <tr>  <td>7:00</td> <td colspan="2">Desayuno</td> <td>3</td></tr>
    </table><br>
    <a href="./Pag 1.html">Volver a pagina de inicio</a>


    <table border="1">
        <caption>Horario semanal</caption>
        <tr> <th>Hora</th> <th>Lunes</th> <th>Martes</th></tr>
        <tr> <td> 7:00 am</td> <td colspan="2"> Desayuno</td></tr>
        <tr> <td>8:00 am</td> <td>Reunión</td> <td>Clase</td></tr>

    </table>

    <a href="./horario.html">Aquí hay un horario más bonito</a>
</body>
</html>