<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Z" content="Cajas cajas y cajas">
    <title>Cajas</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style2.css">
</head>
<body>
    <div id="main">
    <h1 id="derecha">titulo</h1>

    <h1>titulo 2</h1>

    <p class="titulo">Este es el primer párrafo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora libero odit qui fuga aperiam veniam nisi iusto doloribus, voluptatibus placeat harum neque suscipit repudiandae eveniet dolores excepturi possimus labore fugit!</p>
    
    <p class="azul">Este es el segundo párrafo</p>

    <p class="Nombre">Este es el tercer párrafo <span class="Homero"> ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea similique facilis laboriosam neque odit quas, qui culpa eveniet, tempora cupiditate quisquam maiores quia sequi aliquam animi quo enim voluptas.</span></p>
    </div>
</body>
</html>