<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Z" content="Horario">
    <title>Horario</title>
</head>
<body>
    <table border=10>
        <caption>Horario</caption>
        <tr>  <th>Hora</th> <th>Lunes</th> <th>Martes</th> <th>Miercoles</th> <th>Jueves</th> <th>Viernes</th> <th>Sabado</th> </tr>
        <tr>  <td>5:00</td> <td rowspan="2">Dormir</td> <td>Despertar y arreglarse</td> <td rowspan="2">Dormir</td> <td>Despertar y arreglarse</td> <td rowspan="4">Dormir</td> <td rowspan="15">Te quiero mucho sabado</td></tr>
        <tr>  <td>6:00</td> <td>Sufir (mucho) en transmilenio)</td> <td>Sufir (mucho) en transmilenio)</td> </tr>
        <tr>  <td>7:00</td> <td>Despertar y arreglarse</td> <td rowspan="2">Algebra</td> <td>Despertar y arreglarse</td> <td rowspan="2">Algebra</td></tr>
        <tr>  <td>8:00</td> <td>Sufrir en transmilenio</td> <td>Sufrir en transmilenio</td></tr>
        <tr>  <td>9:00</td> <td rowspan="2">Analisis Real</td> <td rowspan="2">Calculo</td> <td rowspan="2">Analisis Real</td> <td rowspan="2">Calculo</td> <td>Despertar y arreglarse</td></tr>
        <tr>  <td>10:00</td> <td>Sufrir (un poquito) en transmilenio</td> </tr>
        <tr>  <td>11:00</td> <td>Sufrir (un poco menos) en transmilenio</td> <td rowspan="4">Nada</td> <td rowspan="2">Desarrollo Web o algo así, no me acuerdo</td> <td rowspan="4">Nada</td> <td rowspan="2">Desarrollo Web o algo así, no me acuerdo</td> </tr>
        <tr>  <td>12:00</td> <td>Nada</td></tr>
        <tr>  <td>13:00</td> <td>Almorzar</td> <td>Almorzar</td> <td>Almorzar</td></tr>
        <tr>  <td>14:00</td> <td rowspan="6">Libre</td> <td>Nada</td> <td>Nada</td></tr>
        <tr>  <td>15:00</td> <td rowspan="2">Forense</td><td rowspan="2">Proba</td> <td rowspan="2">Forense</td><td rowspan="2">Proba</td></tr>
        <tr>  <td>16:00</td> </tr>
        <tr>  <td>17:00</td> <td colspan="4"><center>Sufrir (mucho) en transmilenio</center></td></tr>
        <tr>  <td>18:00</td> <td rowspan="2" colspan="4"><center>Nada</center></td></tr>
        <tr>  <td>19:00</td> </tr>
        </table><br>
        

    <a href="./Pag 1.html">Volver a pagina de inicio</a>
</body    
</html>