<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Z" content="Pagina número 1">
    <title>Pagina #1</title>
</head>
<body>
    <center><h1> <div style= "color: #950309; font-size:200%"> D&D </div></h1></center>
    <h2>¿Qué es?</h2>
    <p><strong>Dungeons And Dragon</strong> es un juego de rol, creado en los 70's, aunque se popularizó sobre la decada de los 90's. <br>Se trata de un juego de mesa con dados donde interpretando personajes en fin de jugar una aventura.</p>
    
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQpJREFUSEvt101KBDEQBeBvxAOIC2HwDIobXep4I115BgVxpdfxZzlu1DOIILjQtaASSKCJHRHSbY/QWaYq79UrqpPXEwOtyUC8Fo54BZtYquzIBx7wmuO0KT7ECZYrSdPxdxzgoomXE6/jsSPCJswn1vCSNnPiXVzHYFB+V1nEFs4ixh5uSsQzXMbgPq4qiYt4ueK2xFDAcSzgqFFYXlNbXhXxHNuR5RY7hS605f1P4sFaXTNfVa0eTPE4XOmC6f07HodrvLnSDHT+SPzJcA1mBKZ4qpFYOBusT8B+LjmQsB+M2WkHDrNp9oKNOv/J7KXYKjao9t3B3t7j7Tf2todOf4dcuD+J3lV/ARsLih9Rko7mAAAAAElFTkSuQmCC"/>
    <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="120" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM8 17.5a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 8 17.5zm0-4a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 8 13.5zm0-4a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 8 9.5zm8 8a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 16 17.5zm0-4a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 16 13.5zm0-4a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 16 9.5z"></path></svg>

        <h2>Clases</h2>

    <ul>
        <li> </li> 
        <li> <a target="_blank" href="./Bardo.html">Bardo</a></li>
        <li>Brujo</li>
        <li>Clérigo</li>
        <li>Druida</li>
        <li>Guerrero</li>
        <li>Hechicero</li>
        <li>Mago</li>
        <li>Monje</li>
        <li>Paladín</li>
        <li>Picaro</li>
    </ul>

    <p>La existencia de diferentes paginas permite que el nivel de persoanlización sea mayor, y con esto, un mayor disfrute de la parte; la hace más propia.</p>


</body>
</html>