<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Juan Simbaqueba" content="Quiz de stop, ¿God? habrá un juego de stop">
    <link rel="icon" type="image/png" href="../assets/imagenes/notepad-regular-24.png">
    <title>Quiz</title>
</head>
<body> 
    <table border="2">
    <caption>Stop</caption>
        <tr> <th border="3"> L </th> <th border="3"> Nombre </th> <th border="3"> Apellido </th> <th border="3"> Cosa </th> <th border="3"> Color </th> <th border="3"> Lugar </th> <th border ="3"> Atributo HTML </th> <th border ="3"> Total </th></tr>
        <tr> <td>V</td> <td>Valentina </td> <td>Velasquez </td> <td> <img src="../assets/imagenes/R.jpg" width="120" height="120"> </td> <td bgcolor="#4c2882 ">  </td> <td> valencia</td> <td><em> <u>Var</u></em> </td> <td> <strong>¿?</strong> </td></tr>
        <tr> <td>D</td> <td>Daniela</td> <td>Diaz </td> <td> <img src="../assets/imagenes/D.png" width="120" height="120"> </td> <td bgcolor="#E49E56">  </td> <td> dallas </td> <td><em> <u> div</u></em> </td> <td> <strong>¿?</strong> </td></tr>
        <tr> <td>U</td> <td>Uriel</td> <td>Uribe </td> <td> <img src="../assets/imagenes/U.jpg" width="120" height="120"> </td> <td bgcolor="#635147 ">  </td> <td> udaipur </td> <td><em> <u> ul </u></em> </td> <td> <strong>¿?</strong> </td></tr>
        <tr> <td>X</td> <td>Ximena </td> <td>Xiang </td> <td> <img src="../assets/imagenes/X.jpg" width="120" height="120"> </td> <td bgcolor="#b7c0d7">  </td> <td> xalapa</td> <td><em> <u> xmp </u></em> </td> <td> <strong>¿?</strong> </td></tr>
        <tr> <td>R</td> <td>Ryan</td> <td>Rubio </td> <td> <img src="../assets/imagenes/RR.jpg" width="120" height="120"> </td> <td bgcolor="#Ffc0cb">  </td> <td> roma</td> <td><em> <u>rt</u></em> </td> <td> <strong>¿?</strong> </td></tr>
    </table>

    
</body>
</html>


