@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

body{
    margin: 0;
    width: auto;
    height: 0;
}
/* Reglas como afecta que afecta
Selector donde afecta
Propiedad "Atributo", separados por ;
selector1, selector2 {prop1:valor; prop2:valor}
----------------------------------------------- */
body {
    /* background-image: url("../imagenes/U.jpg");  */
    background-size: 100%; background-repeat: repeat-x;}

h1,h2,h3 {background-color: #280219; color: aquamarine; font-size: 70px; text-align: center;
    font-family: 'Courier New', Courier, monospace
} 
label{color: purple; align-self: center; font-size: xx-large; font-weight: 900;
    font-family: "Fuggles";

}
form {background-color: #62a9a9ac; border-radius:10%}

img {align-items: center;}

.Titulo {
    text-align: center;
}