<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Z" content="Pagina número 1">
    <title>Pagina #1</title>
    <link rel="" href="./ejercicios/assets/imagenes/bxs-invader.svg">
</head>
<body>
    <center><h1> <div style= "color: #950309; font-size:200%"> D&D </div></h1></center>
    <h2>¿Qué es?</h2>
    <p><strong>Dungeons And Dragon</strong> es un juego de rol, creado en los 70's, aunque se popularizó sobre la decada de los 90's. <br>Se trata de un juego de mesa con dados donde interpretando personajes en fin de jugar una aventura.</p>
    
    <img src="./assets/imagenes/bxs-dice-6.svg" width="220" height="120">

        <h2>Clases</h2>

    <ul>
        <li>Barbaro</li> 
        <li>Bardo</li>
        <li>Brujo</li>
        <li>Clérigo</li>
        <li>Druida</li>
        <li>Guerrero</li>
        <li>Hechicero</li>
        <li>Mago</li>
        <li>Monje</li>
        <li>Paladín</li>
        <li>Picaro</li>
    </ol>
</body>
</html>